<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">{{blog.heading}} <span class="text-muted">{{blog.sub_heading}}</span></h2>
    <p class="lead">{{blog.description}}</p>
  </div>

  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" alt={{blog.alt}} src={{blog.image}}>
  </div>
</div>

<hr class="featurette-divider">