{{#if addNewBlog}}
  <h2 class="new">Write a VRBlog</h2>
  <div>
    <form class="form-horizontal">
      <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="heading">Heading</label>
        <div class="col-sm-10">
          {{input class="form-control" type="text" id="heading" value=heading}}
        </div>
      </div>

      <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="sub_heading">Subheading</label>
        <div class="col-sm-10">
          {{input class="form-control" type="text" id="sub_heading" value=sub_heading}}
        </div>
      </div>

      <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="description">Description</label>
        <div class="col-sm-10">
          {{textarea class="form-control" type="text" id="description" value=description}}
        </div>
      </div>

      <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="image">Image URL</label>
        <div class="col-sm-10">
          {{input class="form-control" type="text" id="image" value=image}}
        </div>
      </div>

      <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="alt">Image Alt</label>
        <div class="col-sm-10">
          {{input class="form-control" type="text" id="alt" value=alt}}
        </div>
      </div>
    </form>

    <div class="row button-save">
      <button type="button" class="btn btn-default btn-lg pull-right" {{action 'blogFormHide'}}>Cancel</button>
      <button type="button" class="btn btn-success btn-lg pull-right">Save</button>
    </div>

  </div>

{{else}}

  <button type="button" class="btn btn-default btn-lg btn-block new" {{action 'blogFormShow'}}>New VRBlog</button>

{{/if}}
