<div class="row featurette detail">
  <div class="col-md-7">
    {{#link-to 'post' post.id}}
    <h2 class="featurette-heading">{{post.heading}}
      <span class="text-muted">{{post.sub_heading}}</span>
    </h2>
    {{/link-to}}
    <p class="lead">{{post.description}}</p>
  </div>

  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" alt={{post.alt}} src={{post.image}}>
  </div>
</div>

<hr class="featurette-divider">